<div class="post">
  <h1><%= post.title ? post.title : "" %></h1>
  <p><%= post.body %></p>
  <%= render "votes/vote", post: post %>


  <% Answer.where(question_id: post.id).each do |answer| %>
    <h3> ANSWER </h3>
    <%= answer.title %>
    <%= answer.body %>
    <% if post.favorite_id == answer.id %>
      Marked as Favorite
    <% end %>

    <% if session[:user_id] == answer.user_id %>
      <%= form_tag(favorite_post_path, :method => :put) do %>
          <%= hidden_field_tag(:answer, answer.id) %>
          <%= submit_tag("Mark as Favorite") %>
      <% end %>
      <%= link_to 'New Comment', new_post_comment_path(post) %>
    <% end %>
    <%= render "votes/vote", post: answer %>
    <% answer.comments.each do |comment| %>`
      <h5> COMMENTS </h5>
      <%= render "comments/comment", comment: comment %>
    <% end %>
  <% end %>
</div>



