<div class="post">
  <h1><%= post.title ? post.title : "" %></h1>
  <p><%= post.body %></p>
  <%= render "votes/vote_count", post: post %>
  <% post.comments.each do |comment| %>
    <%= render "comments/comment", comment: comment %>
  <% end %>


  <% if session[:user_id] == post.user_id %>
    <%= link_to "Mark as Favorite", post_path(post), {:action => :update}, :method => :put, post: post  %>
  <% end %>
  <%= link_to 'New Comment', new_post_comment_path(post) %>
</div>