<div class="questions_list">

  <%= form_tag( "/posts", :method => "get") do %>
    <%= hidden_field_tag :sort, "by_time" %>
    <%= submit_tag "Sort By Time" %>
  <% end %>

  <%= form_tag( "/posts", :method => "get") do %>
    <%= hidden_field_tag :sort, "by_vote_count" %>
    <%= submit_tag "Sort By Votes" %>
  <% end %>

  <%= form_tag( "/posts", :method => "get") do %>
    <%= hidden_field_tag :sort, "by_trending" %>
    <%= submit_tag "Sort By Trending" %>
  <% end %>

  <div class="question_graph">
    <p>View each question's answers and the number of votes each answer has.</p>
    <%= link_to "Next Question" , {}, {class: 'next_question'} %>
  </div>

  <% @questions.each do |question| %>
    <%= render "posts/question", question: question %>
  <% end %>
</div>