<div class="post">

  <div class= "question">
    <h1><%= @question.title ? @question.title : "" %></h1>
    <p><%= @question.body %></p>
    <%= render "votes/vote", post: @question %>
  </div>

  <div class= "answers">
    <% Answer.where(question_id: @question.id).each do |answer| %>
      <div class= "answer<%= answer.id %>">
        <%= render "posts/answer", question: @question, answer: answer %>
      </div>
      <div class="comments">
        <%= link_to 'New Comment', '#', remote: true, class: "new_comment" %>
        <%= render "shared/comment_form", answer: answer %>
        <% answer.comments.each do |comment| %>
          <%= render "comments/comment", comment: comment %>
        <% end %>
      </div>

    <% end %>
  </div>

  <%= render "/shared/answers_form", question_id: @question.id %>
</div>
