<div>
  <h1><%= @question.title %></h1>
  <p><%= @question.body %></p>
</div>


<div>
  <%= @answers.each do |answer| %>
    <%= answer.body %><br>
  <% end %>

  <div>
    <%= render "/shared/answers_form", question_id: @question.id %>
  </div>
</div>

