<div class="post">

  <div class= "question">
    <h1><%= @question.title ? @question.title : "" %></h1>
    <p><%= @question.body %></p>
    <%= render "votes/vote", post: @question %>
  </div>

  <div class= "answers">
    <% Answer.where(question_id: @question.id).each do |answer| %>
        <%= render "posts/answer", question: @question, answer: answer %>
    <% end %>
  </div>

  <%= render "/shared/answers_form", question_id: @question.id %>
</div>
