<div class="post">

  <div class= "question">
    <h3>JackOverflow Question</h3>
    <h4><%= @question.title ? @question.title : "" %></h4>
    <h5><%= @question.body %></h3>
    <%= render "votes/vote", post: @question %>
  </div>

  <div class= "answers">
    <% if @favorite_answer %>
      <%= render "posts/answer", question: @question, answer: @favorite_answer %>
    <% end %>
    <% @answers.each do |answer| %>
          <%= render "posts/answer", question: @question, answer: answer %>
    <% end %>
  </div>

  <%= render "/shared/answers_form", question_id: @question.id %>
</div>
